*{
    margin: 0;
    padding: 0;
}
.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style:normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.header-div{
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid transparent;
    border-radius: 16px;
    margin: 50px 140px;
    margin-bottom: 120px;
    background-position: center;
    box-shadow: 10px 10px 15px black;
         
}
.grad-bg{
    background-image: linear-gradient(rgb(0, 0, 0), rgba(248, 248, 248, 0));
    height: 600px;    
    border-top: 1px solid transparent;
    border-radius: 16px;
    
}

.header-inner-div{
    margin: 177px 344px;
    text-align: center;
}
.sec-1{
    margin-left: 398px;
    margin-right: 398px;
    margin-bottom: 120px;
    text-align: center;
}
.sec-2{
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;  
    margin: 0 140px 120px 140px;
    border-radius: 16px;
    box-shadow: 10px 10px 15px black;
}
.sec-3{
    background-image: linear-gradient(rgba(255, 0, 0, 0.10), rgba(255, 255, 255, 0));
    height: 482px;
    margin: 0 140px 120px 140px;
    border-radius: 16px;
    text-align: center;
    padding-top: 110px;
}
.sec-3-inner-div{
    font-size: 32px;
    font-weight: 600;
    display: block;
    line-height: 56px;
    

}
.sec-4{
    height: 463px;    
    margin: 0 140px 120px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    gap: 70px;
    
}
span{
    color: #FF0000;
}
.flexed{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.btn-join-now{
    margin-left: 158px;
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    
}
.btn-join-now:hover{
    opacity: 50%;
}
.btn-join-secondary{
    padding: 16px 32px;
    margin-top: 48px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn-join-secondary:hover{
    border: 1px solid red;
    color: #FF0000;
    background-color: white;
}
.ring-circle{
    width: 463px;
    height: 463px;
    border: 15px solid red; 
    border-radius: 50%;
    background-color: transparent;
    box-sizing: border-box;
    padding: 35.2px;      
}

.left, .center {
    flex: 1;
    box-sizing: border-box;        
}
.right{
    padding-top: 100px;
    flex: 1;    
}
.sec-4 p{
    line-height: 32px;
}